
<!--================Question Area =================-->
<section class="question_area">
  <div class="container">
    <div class="main_title">
      <h2 style="font-weight: bold">Perguntas frequentes</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="left_question_inner">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. Quanto tempo leva para a emissão de um cartão ?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Os cartões são emitidos em, no máximo, 48 horas. Um máximo de 24 horas para o processamento do pedido e outras 24 horas para a emissão do cartão.

                </div>

              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2. Onde posso utilizar estes cartões ?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Estes cartões podem ser utilizados em qualquer loja da mesma marca. Por exemplo, se adquirir um cartão da <strong>Amazon</strong>, o mesmo poderá ser usado em lojas e serviços da <strong>Amazon</strong>.
                  No caso de cartões <strong>Visa</strong> e <strong>MasterCard</strong>, poderá utilizá-los em qualquer loja online que aceite tais cartões.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3. Estes cartões são confiáveis?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Sim. Os nossos cartões são emitidos e verificados pelas empresas específicas(Amazon, Visa, MasterCard, etc...) à pedido da Kitady.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingfour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    4. Quantas vezes posso utilizar o mesmo cartão ?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                <div class="panel-body">
                  Um cartão pode ser utilizado até 4 vezes por apenas um único usuário.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingfive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefour">
                    5. Quanto tempo leva para o cartão expirar?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                <div class="panel-body">
                  Os nossos cartões têm um periodo de validade de 1 mês depois da data de emissão.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingsix">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsefour">
                    6. Se eu quiser o cartão de uma loja que não está listada aqui?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                <div class="panel-body">
                  A Kitady recebe pedidos de cartões para outras lojas específicas. Envia o teu pedido para <a href="mailto:info@angoapp.com"><strong>geral@usekitady.com</strong></a> e nós verificaremos a disponibilidade do cartão requerido. <strong> A Kitady não adicionará taxas extra ao preço de cartões personalizados. Os preços listados nesse website se aplicam também para todos cartões customizados.</strong>
                </div>
              </div>
            </div>



            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingseven">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapsefour">
                    7. Como é que eu recebo o meu cartão Kitady?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                <div class="panel-body">
                  O seu cartão Kitady será enviado para si por email (método padrão). Se fizer o seu pedido pelo WhatsApp, pode requerir que o cartão seja enviado pela mesma via.

                </div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingeight">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapsefour">
                    8. Não recebo/vejo os emails da Kitady. O que faço?
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                <div class="panel-body">
                  Verifique na sua caixa de <strong>“Emails de lixo”</strong> ou <strong>“Spam”</strong>. Caso encontre os emails da Kitady nessas caixas, marque Kitady como seguro para passar a receber os emails normalmente na sua caixa de entrada. Se ainda assim não encontrar os emails da Kitady, entre em contacto connosco para solucionarmos o seu problema.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-5">
        <div class="right_question_img">
          <img src="{{rootURL}}assets/template_images/question-tab.png" alt="">
        </div>
      </div> -->
    </div>
  </div>
</section>
<!--================End Question Area =================-->

{{yield}}
