<!--================Banner Nine Area =================-->
<section class="banner_nine_area" style="padding-top: 80px; background-image: url('{{rootURL}}assets/template_images/banner-n-bg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="height: 90vh">
        <div class="b_nine_text">

          <div class="main_title">
            <h2>ESCOLHA O CARTÃO DA TUA LOJA FAVORITA</h2>
            <p style="font-weight: bold;color:#000000AA">Cartões Visa, Amazon, Ebay, MasterCard, Google Play, Apple Store, ....</p>
            <a href="#user-form"><button type="submit" value="submit your quote" class="btn submint_btn form-control">Fazer Pedido</button></a>
          </div>


        </div>
      </div>

    </div>
  </div>
</section>
<!--================End Banner Nine Area =================-->

{{yield}}
