
<!--================MacBook Mockup Area =================-->
<section class="install_app_area">
  <div class="col-md-6">
    <div class="row">
      <div class="install_left_content">
        <div class="left_title">
          <h2 style="font-weight: bold;">COMO ADERIR AO SERVIÇO</h2>
        </div>
        <div class="install_content">
          <h5>1 - Faça o depósito da quantia desejada para uma das nossas contas bancárias</h5>
          <p style="padding-left:30px">OBS: Por favor, guarde o seu bordereau pois irá precisar para processar o seu pedido.</p>

          <h5>2 - Preencha o nosso formulário para que o seu pedido seja processado</h5>
          <a class="gradient_bg_btn" href="#user-form" style="width: 300px">Preencha o Formulário* </a>
          <p style="margin-top: 10px">*Ou envie os dados do seu pedido para +244 946 342 240 (WhatApp)</p>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="install_left_content">
        <div class="left_title">
          <img src="{{rootURL}}assets/template_images/bai_details.png" alt="">

        </div>
        <div class="install_content">

        </div>
      </div>
    </div>
  </div>

</section>
<!--================End MacBook Mockup Area =================-->


{{yield}}
