
<!--================Pricing Table Area =================-->
<section class="price_table_area" id="price">
  <div class="container">
    <div class="main_title">
      <h2 style="font-weight: bold;color:#000000AA" >Preçário</h2>
      <p style="color: #000000AA">A Kitady oferece preços baixos para a sua satisfação.</p>
    </div>
    <div class="price_table_inner">


      <div class="price_item">
        <a href="#user-form">
          <div class="price_header">
            <h3>Valor de</h3>
            <h2>25$</h2>
            <h6></h6>
          </div>
          <ul>
            <li>Para um dos cartões a baixo</li>
            <li>
              <div class=" ">
                <i class="fa fa-cc-visa " style='font-size:50px'></i>
                <i class="fa fa-apple" style='font-size:50px'></i>
              </div>
            </li>
            <li>
              <div class=" ">
                <i class="fa fa-amazon" style='font-size:50px'></i>
                <i class="fab fa-ebay" style='font-size:50px'></i>
              </div>
            </li>
          </ul>
          <a class="price_btn" href="#">Por apenas: 13.000,00Kz</a>
        </a>
      </div>




      <div class="price_item">
        <a href="#user-form">
          <div class="price_header">
            <h3>Valor de</h3>
            <h2>50$</h2>
            <h6></h6>
          </div>
          <ul>
            <li>Para um dos cartões a baixo</li>
            <li>
              <div class=" ">
                <i class="fa fa-cc-visa " style='font-size:50px'></i>
                <i class="fa fa-apple" style='font-size:50px'></i>
              </div>
            </li>
            <li>
              <div class=" ">
                <i class="fa fa-amazon" style='font-size:50px'></i>
                <i class="fab fa-ebay" style='font-size:50px'></i>
              </div>
            </li>
          </ul>
          <a class="price_btn" href="#">Por apenas: 26.000,00Kz</a>
        </a>
      </div>



      <div class="price_item">
        <a href="#user-form">
          <div class="price_header">
            <h3>Valor de</h3>
            <h2>100$</h2>
            <h6></h6>
          </div>
          <ul>
            <li>Para um dos cartões a baixo</li>
            <li>
              <div class=" ">
                <i class="fa fa-cc-visa " style='font-size:50px'></i>
                <i class="fa fa-apple" style='font-size:50px'></i>
              </div>
            </li>
            <li>
              <div class=" ">
                <i class="fa fa-amazon" style='font-size:50px'></i>
                <i class="fab fa-ebay" style='font-size:50px'></i>
              </div>
            </li>
          </ul>
          <a class="price_btn" href="#">Por apenas: 52.000,00Kz</a>
        </a>
      </div>




    </div>
  </div>
</section>
<!--================End Pricing Table Area =================-->
{{yield}}
