


<!--================App Feature Area =================-->
<section class="app_feature_area" id="feature">
  <div class="container">
    <div class="main_title">
      <h2 style="font-weight: bold;color:#000000AA" >CARACTERÍSTICAS do KITADY</h2>
      <p style="color:#000000AA">
        Nós existimos para suprir as suas necessidades de compras internacionalmente</p>
    </div>
    <div class="row app_feature_inner">
      <div class="col-md-3">
        <div class="app_feature_item_inner">
          <div class="app_feature_item">
            <div class="round_icon">
              <i class="material-icons">security</i>
            </div>
            <a href="#"><h4 style="color:#000000AA">Segurança</h4></a>
            <p style="color:#000000AA">As nossas transações são feitas com serviços de seguranças reconhecidos internacionais.</p>
          </div>
          <div class="app_feature_item">
            <div class="round_icon">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
            <a href="#"><h4 style="color:#000000AA">Confiabilidade</h4></a>
            <p style="color:#000000AA">Empresas e privados confiam em nós para facilitar  as suas transações internacionais e não só.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="app_round_image">
          <img class="round_c" src="{{rootURL}}assets/template_images/round-circle.png" alt="">
          <img class="app_mobile" src="{{rootURL}}assets/template_images/family_card.png" alt="" style="height:60vh">
        </div>
        <div class="app_feature_item app_middle">
          <div class="round_icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <a href="#"><h4 style="color:#000000AA">Rapidez</h4></a>
          <p style="color:#000000AA">Transações feitas na hora e com muita eficácia.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="app_feature_item_inner left_feature">
          <div class="app_feature_item">
            <div class="round_icon">
              <i class="material-icons">flight_takeoff</i>
            </div>
            <a href="#"><h4 style="color:#000000AA">Serviços internacionais</h4></a>
            <p style="color:#000000AA">Connosco você terá acesso à produtos e serviços como os da Amazon, Apple store, Google Play, Visa, MasterCard e muitos mais.</p>
          </div>
          <div class="app_feature_item">
            <div class="round_icon">
              <i class="fas fa-calendar-check"></i>
            </div>

            <a href="#" ><h4 style="color:#000000AA">Assistência 24/24</h4></a>
            <p style="color:#000000AA">Se tiver algum problema ao utilizar os nossos serviços, nós estamos à uma chamada telefónica de si.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End App Feature Area =================-->


{{yield}}
